<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <notifications-bar class="notifications"></notifications-bar>
  
  <h2>Edit Contact</h2>

  <div>
    <div class="space20"></div>
    <a class="btn btn-primary" href="/contacts/add">
      <span class="glyphicon glyphicon-file"></span>
      Create New
    </a>
    <div class="space20"></div>
  </div>

  <hr />

  <form class="form-horizontal" name="editContactForm" role="form">
      <div class="form-group">
          <label for="firstName" class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-3">
              <input type="text" 
                     class="form-control" 
                     name="firstName" 
                     id="firstName" 
                     placeholder="First Name" 
                     ng-model="contact.firstName" 
                     input-readonly isreadonly="isreadonly" 
                     required />
          </div>
      </div>
      <div class="form-group" ng-hide="action === 'Details'">
          <div class="col-md-offset-2 col-md-10">
              <button type="submit" class="btn btn-primary"
                      ng-click="submit();submitted=true"> Save
              </button>
              <a class="btn btn-primary" href="/contacts">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
              </a>
          </div>
      </div>
    <hr />
    <a class="btn btn-link" href="/contacts">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Back to Contacts
    </a>
  </form>
</div>
